.flexcont {
	// sizing
	width: 100%;
	// border
	border: var(--accent-color) 3px solid;
	border-radius: 5px;
	// positiniong childern
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.confcont {
	// margins to not look bad
	margin: 10px;
}
