<div class="center-col-flex">
	<!-- turn the greeting on or off -->
	<div class="center-row-flex">
		<label for="greeting-enable">Enable Greeting:</label>
		<input type="checkbox" name="greeting-enable" id="greeting-enable" [(ngModel)]="greetingEnable"
			(change)="updateConfig()">
	</div>
	<!-- only display further options if the greeting is enabled -->
	<!-- toggle the prefix of the greeting -->
	<div class="center-row-flex" *ngIf="greetingEnable">
		<label for="greeting-prefix-enable">Prefix Greeting:</label>
		<input type="checkbox" name="greeting-prefix-enable" id="greeting-prefix-enable"
			[(ngModel)]="greetingPrefixEnable" (change)="updateConfig()">
	</div>
	<!-- prefix text for the greeting; only displays if enabled -->
	<div class="center-row-flex" *ngIf="greetingPrefixEnable && greetingEnable">
		<label for="greeting-prefix">Greeting Prefix:</label>
		<input type="text" name="greeting-prefix" id="greeting-prefix" [(ngModel)]="greetingPrefix"
			(change)="updateConfig()">
	</div>
	<!-- greeting text itself -->
	<div class="center-row-flex" *ngIf="greetingEnable">
		<label for="greeting-text">Greeting Text:</label>
		<input type="text" name="greeting-text" id="greeting-text" [(ngModel)]="greetingText" (change)="updateConfig()">
	</div>
	<!-- preview of the greeting -->
	<div class="center-row-flex" *ngIf="greetingEnable">
		<span>Preview: </span>
		<span>"{{greetingPreview}}"</span>
	</div>
</div>