#time-widget-container {
	// coloring
	background-color: var(--widget-color);
	color: var(--fg-color);
	// sizing
	padding: 5px 15px;
	// border
	border: 3px var(--accent-color) solid;
	border-radius: 10px;
}

span {
	// sizing
	width: 100%;
	max-width: max-content;
	word-wrap: break-word;
	height: min-content;
}
