<div class="center-col-flex">
	<button (click)="downloadDebugData()">Download Diagnostic Data</button>
	<span style="font-size: 0.75rem;">The Diagnostic Data can be edited in any text editor to remove info you do not
		want to supply.</span>
	<span style="font-size: 0.75rem;">Please understand that removing info can limit our ability to give support.</span>
	<span>The Following Data is included in this file:</span>
	<ul>
		<li>Information about the Time</li>
		<li>Application Configuration</li>
		<li>Browser and Device Information</li>
		<li>Language Settings</li>
		<li>Information on the Display</li>
		<li>Network Status</li>
	</ul>
</div>