<!DOCTYPE html>
<div id="cont">
    <config-container>
        <config-engine></config-engine>
    </config-container>
    <config-container>
        <config-reddit></config-reddit>
    </config-container>
    <config-container>
        <config-wallpaper></config-wallpaper>
    </config-container>
    <config-container>
        <config-greeting></config-greeting>
    </config-container>
    <config-container>
        <config-bangs-no-bang></config-bangs-no-bang>
    </config-container>
    <config-container>
        <config-custom-page-title></config-custom-page-title>
    </config-container>
    <config-container>
        <config-theme></config-theme>
    </config-container>
    <config-container>
        <config-font></config-font>
    </config-container>
</div>